.item {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 235px;
  padding: 24px 32px 28px;
  background: #191c2e;
  margin-right: 10px;
  border-radius: 5px;

  .itemTitle {
    font-weight: 700;
    max-width: 175px;
    font-size: 24px;
    line-height: 140%;
  }

  .itemDescription {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 20px;

    div{
      p{
        font-weight: 400;
        max-width: 175px;
        font-size: 14px;
        line-height: 180%;
        color: #c6d1de;
      }
    }
  }
}